{% extends 'base.html' %}

<!-- Page Title -->
{% block title %}Login{% endblock%}

<!-- Page Nav -->
{% block navbar_content %}
    {% from 'macros/render_nav.html' import render_nav as render_nav %}
    {{render_nav(items=['register'])}}
{% endblock %}

<!-- Page Content -->
{% block content %}
<div class="container my-5">
    <div class="row">
        <h1 class="text-center my-5">
            Login
        </h1> 
    </div>
    <div class="row py-5 px-5 border rounded">
        <div class="col">
            <form method="post">
                {{ form.hidden_tag()}}
                <div class="mb-3">
                    {{ form.username.label(class='form-label') }}
                    {{ form.username(class='form-control') }}
                </div>
                <div class="mb-3">
                    {{ form.password.label(class='form-label') }}
                    {{ form.password(class='form-control') }}
                </div>
                <div class="row justify-content-center">
                    <div class="col-3">
                        <div class="mb-3 form-check">
                            {{ form.remember(class='form-check-input') }}
                            {{ form.remember.label(class='form-check-label') }}
                        </div>
                    </div>
                </div>
                
                <div class="row justify-content-center">
                    <div class="col-2">
                        {{ form.submit(class='btn btn-primary') }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock%}
