[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-login = "*"
flask-sqlalchemy = "*"
email-validator = "*"
markdown = "*"

[dev-packages]
pytest = "*"
python-dotenv = "*"

[requires]
python_version = "3.10"
