{% extends "base.html" %}

{% block title%}{{error.code}}{% endblock %}

{% block navbar_content %}
    {% from 'macros/render_nav.html' import render_nav as render_nav %}
    {% if current_user.is_authenticated %}
        {{render_nav(items=['add-note', 'home', 'logout'])}}
    {% else %}
        {{render_nav(items=['login', 'register'])}}
    {% endif %}
{% endblock %}

{% block content%}
    <h1 class="text-center mt-5">Error {{error.code}}: {{error.name}}</h1>
    <h2 class="text-center my-5">Oops! {{error.description}}</h2>
    
{% endblock %}