{% extends 'base.html' %}


{% block navbar_content %}
    <li class="nav-item">
        {% from 'macros/add_note.html' import add_note as add %}
        {{add(add_form)}}
    </li>
    {% if 'home' in request.url %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index.profile') }}">Profile</a>
        </li>
    {% elif 'profile' in  request.url %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index.home') }}">Home</a>
        </li>
    {% endif %}
    
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
    </li>
{% endblock%}
